In [ ]:
1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of 
your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

ANSWER

In [3]:
years_list = [1999,2000,2001,2002,2003,2004]

In [ ]:
2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

ANSWER

In [4]:
years_list[3]

2002

In [ ]:
3.In the years list, which year were you the oldest?

ANSWER

In [5]:
years_list[-1]

2004

In [ ]:
4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

ANSWER

In [6]:
things = ['mozzarella','cinderella','salmonella']
things

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

ANSWER
This capitalizes the word, but doesnâ€™t change it in the list:

In [7]:
things_cap = things.copy()
things_cap[1].capitalize()

'Cinderella'

In [8]:
things_cap

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

ANSWER

In [9]:
surprise = ['Groucho', 'Chico', 'Harpo']
surprise

['Groucho', 'Chico', 'Harpo']

In [ ]:
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

ANSWER

In [10]:
surprise[-1] = surprise[-1].lower()
surprise[-1] = surprise[-1][::-1]
surprise[-1].capitalize()

'Oprah'

In [ ]:
8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: 
    dog is chien, cat is chat, and walrus is morse.

ANSWER

In [11]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [ ]:
9. Write the French word for walrus in your three-word dictionary e2f.

ANSWER

In [12]:
e2f['walrus']

'morse'

In [ ]:
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

ANSWER

In [14]:
f2e = {}
for english, french in e2f.items():
    f2e[french] = english
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [ ]:
11. Print the English version of the French word chien using f2e.

ANSWER

In [15]:
f2e['chien']

'dog'

In [ ]:
12. Make and print a set of English words from the keys in e2f.

ANSWER

In [16]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

In [ ]:
13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. 
    Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats'
    key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty 
    dictionaries.

ANSWER

In [17]:
life = {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'],'octopi': {},'emus': {}},'plants': {},'other': {}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [ ]:
14. Print the top-level keys of life.

ANSWER

In [18]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [ ]:
15. Print the keys for life['animals'].

ANSWER

In [20]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

In [ ]:
16. Print the values for life['animals']['cats']

ANSWER

In [21]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']